.Modal {
    min-width: 380px;
    min-height: 587px;

    border-radius: 12px;
    background: #2A2C35;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h2 {
    color: #CFD2E3;
    text-align: center;
    font-size: 36px;
}
